<%= form_for(@movement, :html => { :onsubmit => 'return validateForm()'}) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% options = options_from_collection_for_select(@location, 'id', 'location') %>

    <%= label_tag(:from_location_tag, "From Location:") %>
    <%= select_tag(:from_location, options) %>

    <%= label_tag(:to_location_tag, "To Location:") %>
    <%= select_tag(:to_location, options) %>
    <br>  
    <%= text_field_tag 'tape' %>
    <br>
    <%= select_tag(:tapes, options_for_select([]), {:multiple => true}) %>
    <br>
    <%= radio_button_tag(:status, "Removed") %>
    <%= label_tag(:status_removed, "Removed") %>
    <br>
    <%= radio_button_tag(:status, "Received") %>
    <%= label_tag(:status_received, "Received") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>