<h1>Listing Movements</h1>

<table>
  <thead>
    <tr>
      <th>Movement</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.movement %></td>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_location_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
<br>
<% options = options_from_collection_for_select(@location, 'id', 'location') %>

<%= label_tag(:from_location_tag, "From Location:") %>
<%= select_tag(:from_location, options) %>

<%= label_tag(:to_location_tag, "To Location:") %>
<%= select_tag(:to_location, options) %>
<br>  
<%= text_field_tag 'tape' %>
<br>
<%= select_tag(:tapes, options_for_select([]), {:multiple => true}) %>
<br>
<%= radio_button_tag(:status, "Removed") %>
<%= label_tag(:status_removed, "Removed") %>
<br>
<%= radio_button_tag(:status, "Received") %>
<%= label_tag(:status_received, "Received") %>