<%= form_for(@tape) do |f| %>
  <% if @tape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tape.errors.count, "error") %> prohibited this tape from being saved:</h2>
      <%= debug(@tapes) %>
      <ul>
      <% @tape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <% customer_hash = Hash.new(0)
    @customers.each do |customer| 
      customer_hash[customer.name] = customer.id
    end %>
    <%= f.select(:customer_id, customer_hash) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
