%h1 Tape Locations

%table.table.table-striped
  %thead
    %tr
      %th Tape ref
      %th Location
      %th Customer
      %th History
      %th Edit
      %th Delete

  %tbody
    -@tapes.each do |tape|
      %tr
        %td= tape.reference
        %td= tape.location.location
        %td= tape.customer.name
        %td= link_to "Tape History", "/tapes/#{tape.id}/history"
        %td= link_to 'Edit', edit_tape_path(tape)
        %td= link_to 'Destroy', tape, method: :delete, data: { confirm: 'Are you sure?' }

%br

=link_to 'New Tape', new_tape_path, :class => 'btn btn-primary'
