<h1>Listing tapes</h1>

<table>
  <thead>
    <tr>
      <th>Tape ref</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tapes.each do |tape| %>
      <tr>
        <td><%= tape.tape_ref %></td>
        <td><%= tape.customer %></td>
        <td><%= link_to 'Show', tape %></td>
        <td><%= link_to 'Edit', edit_tape_path(tape) %></td>
        <td><%= link_to 'Destroy', tape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Tape', new_tape_path %>
