<h1>Tape Locations</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Tape ref</th>
      <th>Location</th>
      <th>Customer</th>
      <th>History</th>
    </tr>
  </thead>

  <tbody>
    <% @tapes.each do |tape| %>
      <tr>
        <td><%= tape.reference %></td>
        <% if tape.consignments.count != 0 %>
          <% if tape.consignments.order(updated_at: :desc).first.in_transit == true %>
            <td><%= 'In Transit' %></td>
          <% else %>
            <td><%= tape.consignments.order(updated_at: :desc).first.to_location.location %></td>
          <% end %>
        <% else %>
          <td>Unassigned</td>
        <% end %>
        <td><%= tape.customer.name %></td>
        <td><%= link_to "Tape History", "/tapes/#{tape.id}/history"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Tape', new_tape_path, :class => 'btn btn-primary' %>
