%h1 Tape Locations

= form_tag tapes_path, :method => 'get', :id => "tapes_search" do
  %p
  %div
    = text_field_tag :search, params[:search], class: 'span2 search-query'
    = submit_tag "Search", :name => nil, class: 'btn'


%table.table.table-striped
  %thead
    %tr
      %th Tape ref
      %th Location
      %th Customer
      %th History
      %th Edit
      %th Delete

  %tbody
    -@tapes.each do |tape|
      %tr
        %td= tape.reference
        %td= tape.location.location
        %td= tape.customer.name
        %td= link_to "Tape History", "/tapes/#{tape.id}/history"
        %td= link_to 'Edit', edit_tape_path(tape)
        %td= link_to 'Destroy', tape, method: :delete, data: { confirm: 'Are you sure?' }

%br
=will_paginate @tapes
=link_to 'New Tape', new_tape_path, :class => 'btn btn-primary'
