<hr>
<div>
  Consignment <%= @consignment.id %> has <%= @consignment.tapes.count %> tape(s).
  <br><br>
  Please confirm the security tag of the consignment matches <b><%= @consignment.security_tag %></b>, and proceed to scan the tapes in.
</div>
<hr>
<%= form_for(@consignment, :html => { :class => 'form-horizontal', :role => 'form', :onsubmit => 'return validateForm()'}) do |f| %>
  <% if @consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
      <% @consignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= error %>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :from_location %>
      <%= f.select(:from_location_id, [@consignment.from_location.location, @consignment.id], {}, html_options = {:class => 'form-control', :disabled => true}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :to_location %>
      <%= f.select(:to_location_id, [@consignment.from_location.location, @consignment.id], {}, html_options = {:class => 'form-control', :disabled => true}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :tapes %>
      <%= text_field_tag 'tape', '', :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= select_tag(:tapes, options_for_select([]), {:class => 'form-control', :multiple => true}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= link_to 'Remove Tape', '#', :class => 'btn btn-mini btn-danger', :id => 'remove_tape' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.hidden_field :in_transit %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Check in consignment", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
