<%= form_for(@consignment, :html => { :onsubmit => 'return validateForm()'}) do |f| %>
  <% if @consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
      <% @consignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= error %>

  <% options = options_from_collection_for_select(@location, 'id', 'location') %>
  
  <!--<div class="field">
    <%= f.label :from_location %>
    <%= f.select(:from_location_id, options) %>
  </div>-->
  <div class="field">
    <%= f.label :to_location %>
    <%= f.select(:to_location_id, options, {}, :onChange=>"javascript: transitStatus();") %>
  </div>
  <div class="field">  
    <%= f.label :tapes %>
    <%= text_field_tag('tape', '', :'data-validate' => '/consignments/checktape') %>
  </div>
  <div class="field">
    <%= select_tag(:tapes, options_for_select([]), {:multiple => true}) %>
  </div>
  <div class="actions">
    <%= link_to 'Remove Tape', '#', :class => 'btn btn-mini btn-danger', :id => 'remove_tape' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :security_tag %>
    <%= f.text_field :security_tag %>
  </div>
  <div class="field">
    <%= f.hidden_field :in_transit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<a href="#myModal" role="button" class="btn" data-toggle="modal" id="unknown-tape" style="display:none"></a>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Tape Doesn't Exist</h3>
  </div>
  <div class="modal-body">
    <p>Tape doesn't exist. If you would like to add it to the database, please select a customer and click 'Save Changes'.</p>
    <%= select_tag "customer", options_from_collection_for_select(@customer, "id", "name") %>
  </div>
  <div class="modal-footer">
    <button id="tape-add-no"class="btn" data-dismiss="modal" aria-hidden="true" >Close</button>
    <button id="tape-add" data-dismiss="modal" class="btn btn-primary">Save changes</button>
  </div>
</div>