<hr>
<div>
  Consignment <%= @consignment.id %> has <%= @consignment.tapes.count %> tape(s).
  <br><br>
  Please confirm the security tag of the consignment matches <b><%= @consignment.security_tag %></b>, and proceed to scan the tapes in.
</div>
<hr>
<%= form_for(@consignment, :html => { :onsubmit => 'return validateForm()'}) do |f| %>
  <% if @consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
      <% @consignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= error %>
  
  <div class="field">
    <%= f.label :from_location %>
    <%= f.select(:from_location_id, Consignment.find(:all).collect {|c| [c.from_location.location, c.id]}, {}, html_options = {:disabled => true}) %>
  </div>
  <div class="field">
    <%= f.label :to_location %>
    <%= f.select(:to_location_id, Consignment.find(:all).collect {|c| [c.to_location.location, c.id]}, {}, html_options = {:disabled => true}) %>
  </div>
  <div class="field">  
    <%= f.label :tapes %>
    <%= text_field_tag 'tape' %>
  </div>
  <div class="field">
    <%= select_tag(:tapes, options_for_select([]), {:multiple => true}) %>
  </div>
  <div class="actions">
    <%= link_to 'Remove Tape', '#', :class => 'btn btn-mini btn-danger', :id => 'remove_tape' %>
  </div>
  <br>
  <div class="field">
    <%= f.hidden_field :in_transit %>
  </div>
  <div class="actions">
    <%= f.submit "Check in consignment" %>
  </div>
<% end %>