<h1>Current Consignments</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Consignment ID</th>
      <th>From Location</th>
      <th>To Location</th>
      <th>Tapes</th>
      <th>Security Tag</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.each do |consignment| %>
      <tr>
        <td><%= consignment.id %></td>
        <td><%= consignment.from_location.location %></td>
        <td><%= consignment.to_location.location %></td>
        <td><%= consignment.tapes.count %></td>
        <td><%= consignment.security_tag %></td>
        <td><%= link_to 'Show', consignment %></td>
        <td><%= link_to 'Edit', edit_consignment_path(consignment) %></td>
        <td><%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  
<%= link_to 'New Consignment', new_consignment_path %>