<% unless success.nil? %>
  <div class='alert alert-success'>
   <a href='#' data-dismiss='alert' class='close'>x</a>
   <%= success %>
  </div>
<% end %>

<h1>Consignments in transit</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Consignment ID</th>
      <th>From Location</th>
      <th>To Location</th>
      <th>Tapes</th>
      <th>Security Tag</th>
      <th>In Transit</th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.where(:in_transit => true).each do |consignment| %>
      <tr>
        <td><%= consignment.id %></td>
        <td><%= consignment.from_location.location %></td>
        <td><%= consignment.to_location.location %></td>
        <td><%= consignment.tapes.count %></td>
        <td><%= consignment.security_tag %></td>
        <td><%= consignment.in_transit %></td>
        <td><%= link_to 'Details', consignment %></td>
        <td><%= link_to 'Check in consignment', edit_consignment_path(consignment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Consignment', new_consignment_path, :class => 'btn btn-primary' %>

<%=
#!!TODO!! Not a v1.0 feature
#link_to 'Check in tapes', new_consignment_path, :class => 'btn', :onClick => 'javascript: getSecurityTag();'
%>

<br>
<hr>
<h2>Consignments created in the past 7 days</h2>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Consignment ID</th>
      <th>From Location</th>
      <th>To Location</th>
      <th>Tapes</th>
      <th>Security Tag</th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.where(:created_at => 1.week.ago..Time.now).each do |consignment| %>
      <tr>
        <td><%= consignment.id %></td>
        <td><%= consignment.from_location.location %></td>
        <td><%= consignment.to_location.location %></td>
        <td><%= consignment.tapes.count %></td>
        <td><%= consignment.security_tag %></td>
        <td><%= link_to 'Details', consignment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
