!!!
%html
	%head
		%title LUK Media Handling
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= favicon_link_tag

	%body
		= nav_bar :fixed => :top, :brand => "LUK Media Handling", :brand_link => root_path do
			-if current_user
				=menu_group do
					=drop_down "Tapes" do
						= menu_item "View all", root_path
						= menu_item "Add Tapes", new_tape_path
						= menu_item "Import Tapes", import_tapes_path
					=drop_down "Consignments" do
						= menu_item "View all", consignments_path
						= menu_item "Create new", new_consignment_path
					= menu_item "Customers", customers_path
					= menu_item "Locations", locations_path
				= menu_group :pull => :right do
					= drop_down current_user.email do
						= menu_item "log out", destroy_user_session_path, :method => :delete

		%div.container-fluid
			= yield
